<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/people">People</a></li>
	        		<li><a href="/pubs">Publications</a></li>
					<li><a href="/links">Links</a></li>
					<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        	<li><a href="mailto:alex.pike02@gmail.com">email</a></li>
				<li><a href="https://twitter.com/Alexandra_Pike">twitter</a></li>
	        	<li><a href="https://iris.ucl.ac.uk/iris/browse/profile?upi=ACAPI67">iris homepage</a></li>
				<li><a href="https://scholar.google.co.uk/citations?user=XQ8kkegAAAAJ&hl=en">google scholar</a></li>
				<li><a href="https://orcid.org/0000-0003-1972-5530">orcid</a></li>
				</ul>
			</footer>
		</body>
	</html>