---
layout: default
description: Template for team page
---

{{ content }}

{% for member in site.data.team %}
  <div class="d-flex team-member">
    <div class="flex-shrink-0 me-3">
      {% if member.image %}
        <img src="{{ member.image | relative_url }}">
      {% endif %}
    </div>
    <div>
      <h5 id="{{ member.name | strip | url_encode }}">
        {{ member.name }}
        {% if member.role %}
          <small class="text-muted">| {{ member.role }}</small>
        {% endif %}
      </h5>

      {{ member.description | markdownify }}
      <ul class="list-inline">
        {% if member.website %}
        <li class="list-inline-item">
          <a href="{{ member.website }}"><i class="fa fa-globe"></i></a>
        </li>
        {% endif %}

        {% if member.orcid %}
          <li class="list-inline-item">
            <a href="https://orcid.org/{{ member.orcid }}"><i class="ai ai-orcid"></i></a>
          </li>
        {% endif %}

        {% if member.gscholar %}
          <li class="list-inline-item">
            <a href="https://scholar.google.com/citations?user={{ member.gscholar }}"><i class="ai ai-google-scholar"></i></a>
          </li>
        {% endif %}

        {% if member.bluesky %}
          <li class="list-inline-item">
            <a href="https://bsky.app/profile/{{ member.bluesky }}.bsky.social"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M111.8 62.2C170.2 105.9 233 194.7 256 242.4c23-47.6 85.8-136.4 144.2-180.2c42.1-31.6 110.3-56 110.3 21.8c0 15.5-8.9 130.5-14.1 149.2C478.2 298 412 314.6 353.1 304.5c102.9 17.5 129.1 75.5 72.5 133.5c-107.4 110.2-154.3-27.6-166.3-62.9l0 0c-1.7-4.9-2.6-7.8-3.3-7.8s-1.6 3-3.3 7.8l0 0c-12 35.3-59 173.1-166.3 62.9c-56.5-58-30.4-116 72.5-133.5C100 314.6 33.8 298 15.7 233.1C10.4 214.4 1.5 99.4 1.5 83.9c0-77.8 68.2-53.4 110.3-21.8z"/></svg></i></a>
          </li>
        {% endif %}

        {% if member.twitter %}
        <li class="list-inline-item">
          <a href="https://twitter.com/{{ member.twitter }}"><i class="fab fa-twitter"></i></a>
        </li>
      {% endif %}

        {% if member.github %}
          <li class="list-inline-item">
            <a href="https://github.com/{{ member.github }}"><i class="fab fa-github"></i></a>
          </li>
        {% endif %}

        {% if member.email %}
          <li class="list-inline-item">
            <a href="mailto:{{ member.email }}"><i class="far fa-envelope"></i></a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endfor %}

<h2>Former lab members</h2>

{% for member in site.data.team_old %}
  <div class="d-flex team-member_old">
    <div class="flex-shrink-0 me-3">
      {% if member.image %}
        <img src="{{ member.image | relative_url }}">
      {% endif %}
    </div>
    <div>
      <h5 id="{{ member.name | strip | url_encode }}">
        {{ member.name }}
        {% if member.role %}
          <small class="text-muted">| {{ member.role }}</small>
        {% endif %}
      </h5>

      {{ member.description | markdownify }}

      <ul class="list-inline">
        {% if member.orcid %}
          <li class="list-inline-item">
            <a href="https://orcid.org/{{ member.orcid }}"><i class="ai ai-orcid"></i></a>
          </li>
        {% endif %}

        {% if member.researchgate %}
          <li class="list-inline-item">
            <a href="https://researchgate.net/profile/{{ member.researchgate }}"><i class="ai ai-researchgate"></i></a>
          </li>
        {% endif %}

        {% if member.twitter %}
          <li class="list-inline-item">
            <a href="https://twitter.com/{{ member.twitter }}"><i class="fab fa-twitter"></i></a>
          </li>
        {% endif %}

        {% if member.github %}
          <li class="list-inline-item">
            <a href="https://github.com/{{ member.github }}"><i class="fab fa-github"></i></a>
          </li>
        {% endif %}

        {% if member.email %}
          <li class="list-inline-item">
            <a href="mailto:{{ member.email }}"><i class="far fa-envelope"></i></a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endfor %}


